<!DOCTYPE html> 
<html>
<head>
<title>MIT Techfair 2013</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scaleable=no">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
<link rel="stylesheet" href="/static/css/main.css" />

<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
<script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
<style>
</style>
{% block head %}{% endblock %}
</head>

<body>
<div data-role="page">
	<div data-role="header" data-theme="b">
		<a href="index.html" data-role="button" data-rel="back" data-icon="arrow-l" data-theme="a" data-iconpos="right">Back</a>
		<h1>MIT Techfair 2013 : {% block title %}{% endblock %}</h1>
		{% block header %}{% endblock %}
	</div>
	<div id="content" data-role="content">	
		{% block content %}{% endblock %}	
	</div>
</div>
</body>
</html>