{% extends "base.html" %}

{% block title %}Company: XX{% endblock %}

{% block head %}

{% endblock %}


{% block content %}
<img style="float:right" src="https://www.google.com/images/srpr/logo3w.png" />
<h2>Google.com</h2>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nunc elit, mattis sit amet tempus quis, porttitor ut velit. Pellentesque nec tortor lorem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In id ante sed tellus lacinia posuere. Mauris congue posuere pretium. Quisque sollicitudin bibendum ante, ac lacinia turpis lobortis a. Curabitur semper consequat ligula eget lobortis. Praesent lacinia malesuada sem, lacinia condimentum massa facilisis vel. In commodo arcu id felis elementum tincidunt. Quisque luctus imperdiet egestas. In adipiscing nibh sed augue mattis ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

<br/>
<br/>
URL: <a href="random">http://www.google.com</a>

<br/><br/>
<a href="random">View on the map</a>
{% endblock %}

{% block header %}

{% endblock %}